body{
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 67, 109);
   
}
h1{
    display: inline-block;
    padding: 10px;
    justify-content: center;
    
}
.timing{
     width: 270px;
    height: 270px; 
    margin: auto;
    border: 2px solid gray;
    margin-top: 170px;
    border-radius: 50%;
    background-color: rgb(192, 195, 235);
    box-shadow: 2px 2px 5px gray; 
}
.setbtn{
    width: 70px;
    height: 50px;
    margin-top: 30px;
    margin-left: 95px;
    border-radius: 15px;
}
.setbtn:hover{
    background-color: rgb(96, 96, 236);
}
.timing div{
    padding: 5px;
    font-size: 20px;
}

.timing input{
    padding: 5px;
    width: 40px;
    color: gray;
    box-shadow: 2px 2px 5px gray;
    outline: none;
    border: none;
    border: 1px solid gray;
    border-radius: 2px;
}

table{
    padding-top: 50px;
    padding-left: 20px;
    color: rgb(77, 75, 75);
}

td{
    padding: 10px;
}

.setting-btn{
    padding: 5px;
    width: 60px;
    margin-left: 100px;
    margin-top: 15px;
    border: 2px solid rgb(95, 94, 94);
    border-radius: 3px;
    box-shadow: -1px -1px 2px gray;
    font-size: 16px;
    color: rgb(100, 98, 98);
    outline: none;
}

.setting-btn:hover{
    background-color: rgb(225, 222, 222);
    color: rgb(68, 67, 67);
}
.setting-btn:active{
    border: none;
}

.hed{
    display: none;
}

 .timer{
    width: 270px;
    height: 270px;
    margin: auto;
    border: 2px solid gray;
    margin-top: 170px;
    border-radius: 50%;
    background-color: rgb(32, 129, 240);
    box-shadow: 2px 2px 10px gray;
} 
.headings h1{
    padding: 15px;
}
.headings{
    margin-left: 60px;
}

.button{
    margin-left: 40px;
    
}

.bto{
   
    cursor: pointer;
    background:transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
}
.bto:hover{
    background-color: rgb(181, 247, 240);
    border-radius: 30px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {

  [class*="col-"] {
    width: 100%;
  }
}